<template name="questionDetails">

	<div id="question_details" class="qdescription">
		{{#if editAllowed}}
			<p class="edit_link" id="qedit">EDIT</p>
		{{/if}}
			
			<h1 id="qtitle">{{qDetails.title}}</h1>
			<div id="qdetails">
				<p>{{qDetails.details}}</p>
			</div>
			<div id="qdtags">
				{{#each qDetails.tags}}
					<span class="tag">{{this}}</span>
				{{/each}}
			</div>
			<div id="vna">
				<p id="qda">Answers 12</p><p id="qdv">Votes 106</p>
			</div>
		</div>
		<!--<p class="acount">1</p>-->
	
	{{#if editAllowed}}
		<div id="edit_form"class="qdescription">
			<form id="edit_question" class="generic_form">
				<input type="text" name="eq_title" id="eq_title" placeholder="Question title" />
				<textarea name="eq_details" id="eq_details" placeholder="Question details"></textarea>
				<input type="text" name="eq_tags" id="eq_tags" placeholder="Tags" />
				<input class="big_but green_b" type="submit" value="Update" />
			</form>
		</div>
	{{/if}}

	<div id="qcomments">
		<div id="comment_contribs" class="clearfix">
		<p id="comment_count" class="pink_20">43 Answers</p><p id="contrib_count">13 people have contributed to this question</p>
		</div>
		<div id="comm_wrap">
			<div class="comments">
				<p >{comment.commentText}</p>
				<div class="vote_user">
					<p class="qvoting">
						<span class="vnumber">2</span>
						<a class="vote vdown" title="Vote Down">Vote Down</a>
						<a class="vote vup" title="Vote Up">Vote Up</a>
					</p>
					<p class="cu">Answered by: &nbsp;<span class="cu_name">{comment.user}</span></p>
				</div>
			</div>
		</div>		
	</div>
	
	<form id="speak_up" class="clearfix">
		<h4 class="blue_18">Leave an answer</h4>
		<textarea placeholder="Type your answer here..."></textarea>
		<label>Tag your comment
		<input id="tag_me" type="text" placeholder="Type your tags here separated by a comma" />
		</label>
		<input class="big_but green_b" type="submit" value="Answer It!" />
		Debug View:
		<pre>list={list}</pre>
	</form>	

</template>